# ignore feature and results folder
/Features
/Results/


# exclude pretrained models
/Local/ASV
/pretrained_models

# exclude visualization scripts
/Local/Visualize

# exclude demo audios, upload these later
/.wav
/.flac